.container {
  height: 220px;
  perspective: 600px;
}

.card {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  position: relative;
  transition: 1.5s;
  transform-style: preserve-3d;
  border-radius: 2rem;
}

.container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg) rotateZ(180deg);
  box-shadow: 0 0 5px 5px #00ACE7;
}

.front, .back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position: absolute;
  box-shadow: 0 0 5px 2px #ccc;
  backface-visibility: hidden;
  color: aliceblue;
  background: linear-gradient(-135deg, 
#e7eaed, #d4d4e2);
}

.front, .back {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}
.front img  
, .back img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.back {
  transform: rotateY(180deg) rotateZ(180deg);
}
